In [3]:
import datetime as dt
from re import I
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [25]:
# Milestone Action Items
# Download the data set about Value of Energy Cost Saving Program for businesses in New York City (under the "Export" option, there is a way to retrieve a CSV file). Answer the following questions.

# How many different companies are represented in the data set?
# What is the total number of jobs created for businesses in Queens?
# How many different unique email domains names are there in the data set?
# Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA?
# Save your result for the previous question as a CSV file.v

def read_data():
    data = pd.read_csv('Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses_-_FY2020.csv')
    return data

data = read_data()
#print(data)
data['Company Name']=data['Company Name'].str.upper()
data.groupby('Company Name')
counts = data['Company Name'].nunique()
print("1. How many different companies are represented in the data set?")
print(counts)

1. How many different companies are represented in the data set?
439

In [48]:
data['City'].str.upper()
data['isQueens'] = np.where(data['City'].str.contains("QUEENS"),
                                'yes', '')

data.to_csv('out.txt', sep='\t', index=False)
queens_count = data.loc[data['isQueens'] == "yes"]
queens_count = queens_count.reset_index()


print("What is the total number of jobs created for businesses in Queens?")
print(queens_count['isQueens'].count())

What is the total number of jobs created for businesses in Queens?
5

In [50]:
# removing null values if any to avoid errors
data.dropna(how ='all', inplace = True)

#string_col = data['company email'].astype(str)
# splitting at ', ' into Data frame
new = data["company email"].str.partition("@", True)


# part after the separator "@"
string_col = string_col.partition("@")[2]

AttributeError: 'Series' object has no attribute 'partition'

In [13]:
groups = data.groupby('NTA', sort=False).count()
print(groups)

                                        Company Name  company contact  \
NTA
Midwood                                            3                3
SoHo-TriBeCa-Civic Center-Little Italy             5                5
Battery Park City-Lower Manhattan                  9                9
Sunset Park West                                  48               48
Hunters Point-Sunnyside-West Maspeth              75               75
...                                              ...              ...
Midtown-Midtown South                              2                2
Williamsburg                                       1                1
Central Harlem North-Polo Grounds                  1                1
Highbridge                                         1                1
Co-op City                                         1                1

                                        company email  company phone  Address  \
NTA
Midwood                                             3              3        3
SoHo-TriBeCa-Civic Center-Little Italy              3              5        5
Battery Park City-Lower Manhattan                   3              9        9
Sunset Park West                                   47             48       48
Hunters Point-Sunnyside-West Maspeth               75             75       75
...                                               ...            ...      ...
Midtown-Midtown South                               2              2        2
Williamsburg                                        1              1        1
Central Harlem North-Polo Grounds                   1              1        1
Highbridge                                          1              1        1
Co-op City                                          1              1        1

                                        City  State  Postcode  Industry  \
NTA
Midwood                                    3      3         3         3
SoHo-TriBeCa-Civic Center-Little Italy     5      5         5         5
Battery Park City-Lower Manhattan          9      9         9         9
Sunset Park West                          48     48        48        48
Hunters Point-Sunnyside-West Maspeth      75     75        75        75
...                                      ...    ...       ...       ...
Midtown-Midtown South                      2      2         2         2
Williamsburg                               1      1         1         1
Central Harlem North-Polo Grounds          1      1         1         1
Highbridge                                 1      1         1         1
Co-op City                                 1      1         1         1

                                        Industry descr  ...  Total Savings  \
NTA                                                     ...
Midwood                                              2  ...              3
SoHo-TriBeCa-Civic Center-Little Italy               4  ...              5
Battery Park City-Lower Manhattan                    4  ...              9
Sunset Park West                                    48  ...             48
Hunters Point-Sunnyside-West Maspeth                75  ...             75
...                                                ...  ...            ...
Midtown-Midtown South                                2  ...              2
Williamsburg                                         1  ...              1
Central Harlem North-Polo Grounds                    1  ...              1
Highbridge                                           1  ...              1
Co-op City                                           1  ...              1

                                        Savings from beginning receiving benefits  \
NTA
Midwood                                                                         3
SoHo-TriBeCa-Civic Center-Little Italy                                          5
Battery Park City-Lower Manhattan                                               9
Sunset Park West                                                               48
Hunters Point-Sunnyside-West Maspeth                                           75
...                                                                           ...
Midtown-Midtown South                                                           2
Williamsburg                                                                    1
Central Harlem North-Polo Grounds                                               1
Highbridge                                                                      1
Co-op City                                                                      1

                                        Borough  Latitude  Longitude  \
NTA
Midwood                                       3         3          3
SoHo-TriBeCa-Civic Center-Little Italy        5         5          5
Battery Park City-Lower Manhattan             9         9          9
Sunset Park West                             48        48         48
Hunters Point-Sunnyside-West Maspeth         75        75         75
...                                         ...       ...        ...
Midtown-Midtown South                         2         2          2
Williamsburg                                  1         1          1
Central Harlem North-Polo Grounds             1         1          1
Highbridge                                    1         1          1
Co-op City                                    1         1          1

                                        Community Board  Council District  \
NTA
Midwood                                               3                 3
SoHo-TriBeCa-Civic Center-Little Italy                5                 5
Battery Park City-Lower Manhattan                     9                 9
Sunset Park West                                     48                48
Hunters Point-Sunnyside-West Maspeth                 75                75
...                                                 ...               ...
Midtown-Midtown South                                 2                 2
Williamsburg                                          1                 1
Central Harlem North-Polo Grounds                     1                 1
Highbridge                                            1                 1
Co-op City                                            1                 1

                                        Census Tract  BIN  BBL
NTA
Midwood                                            3    3    3
SoHo-TriBeCa-Civic Center-Little Italy             5    5    5
Battery Park City-Lower Manhattan                  9    9    9
Sunset Park West                                  48   47   47
Hunters Point-Sunnyside-West Maspeth              75   74   74
...                                              ...  ...  ...
Midtown-Midtown South                              2    2    2
Williamsburg                                       1    1    1
Central Harlem North-Polo Grounds                  1    1    1
Highbridge                                         1    1    1
Co-op City                                         1    1    1

[79 rows x 25 columns]