In [128]:
import datetime as dt
from re import I
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [129]:
# Milestone Action Items
# Download the data set about Value of Energy Cost Saving Program for businesses in New York City (under the "Export" option, there is a way to retrieve a CSV file). Answer the following questions.

# How many different companies are represented in the data set?
# What is the total number of jobs created for businesses in Queens?
# How many different unique email domains names are there in the data set?
# Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA?
# Save your result for the previous question as a CSV file.v

def read_data():
    data = pd.read_csv('Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses_-_FY2020.csv')
    return data

data = read_data()
#print(data)
data['Company Name']=data['Company Name'].str.upper()
data.groupby('Company Name')
counts = data['Company Name'].nunique()
print("1. How many different companies are represented in the data set?")
print(counts)

1. How many different companies are represented in the data set?
439

In [130]:
data_queens = pd.DataFrame()
data['City'].str.upper()
data_queens['isQueens'] = np.where(data['City'].str.contains("QUEENS"),'yes', '')

data_queens.to_csv('out.txt', sep='\t', index=False)
queens_count = data_queens.loc[data_queens['isQueens'] == "yes"]
queens_count = queens_count.reset_index()


print("2. What is the total number of jobs created for businesses in Queens?")
print(queens_count['isQueens'].count())

2. What is the total number of jobs created for businesses in Queens?
5

In [131]:
# splitting at '@' into Data frame
new = data["company email"].str.partition("@", True)

domains = new[2]

# removing null values 
domains.dropna(how ='all', inplace = True)
unique_domains = domains.nunique()

print("3. How many different unique email domains names are there in the data set?")
print(unique_domains)

3. How many different unique email domains names are there in the data set?
357

In [169]:
from ctypes import sizeof
import  csv

groups = data.groupby('NTA', sort=False).count() 
print("4. Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA?")


NTA_list = pd.DataFrame()

# 2) make separate dataframe for data where NTA occurs more than 5 times
NTA_list = data[data.groupby('NTA')['NTA'].transform('size').gt(5)]

NTA_list = NTA_list.reset_index(drop=True)
#print(NTA_list)

NTA_list.to_csv('nta.txt', sep='\t', index=False)


# make separate dataframes for each NTA?
NTA_list = NTA_list.groupby('NTA')
NTA_list.groups.keys()

NTA_grouped = []

for key in NTA_list.groups.keys():
    NTA_grouped.append(NTA_list.get_group(key))


# print(NTA_grouped)
# for i in NTA_grouped:
#     i.to_csv('nta_groups',index=False)


# NTA_grouped.to_csv('nta_groups.txt', sep='\t', index=False)
with open("nta_groups","w") as f:
    wr = csv.writer(f,delimiter="\n")
    wr.writerow(NTA_grouped)

4. Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA?

In [ ]:
### Export as CSV ###