In [128]:
import datetime as dt
from re import I
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [129]:
# Milestone Action Items
# Download the data set about Value of Energy Cost Saving Program for businesses in New York City (under the "Export" option, there is a way to retrieve a CSV file). Answer the following questions.

# How many different companies are represented in the data set?
# What is the total number of jobs created for businesses in Queens?
# How many different unique email domains names are there in the data set?
# Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA?
# Save your result for the previous question as a CSV file.v

def read_data():
    data = pd.read_csv('Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses_-_FY2020.csv')
    return data

data = read_data()
#print(data)
data['Company Name']=data['Company Name'].str.upper()
data.groupby('Company Name')
counts = data['Company Name'].nunique()
print("1. How many different companies are represented in the data set?")
print(counts)

1. How many different companies are represented in the data set?
439

In [130]:
data_queens = pd.DataFrame()
data['City'].str.upper()
data_queens['isQueens'] = np.where(data['City'].str.contains("QUEENS"),'yes', '')

data_queens.to_csv('out.txt', sep='\t', index=False)
queens_count = data_queens.loc[data_queens['isQueens'] == "yes"]
queens_count = queens_count.reset_index()


print("2. What is the total number of jobs created for businesses in Queens?")
print(queens_count['isQueens'].count())

2. What is the total number of jobs created for businesses in Queens?
5

In [131]:
# splitting at '@' into Data frame
new = data["company email"].str.partition("@", True)

domains = new[2]

# removing null values 
domains.dropna(how ='all', inplace = True)
unique_domains = domains.nunique()

print("3. How many different unique email domains names are there in the data set?")
print(unique_domains)

3. How many different unique email domains names are there in the data set?
357

In [187]:
from ctypes import sizeof
import  csv

groups = data.groupby('NTA', sort=False).count() 
print("4. Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA?")


NTA_list = pd.DataFrame()

# 2) make separate dataframe for data where NTA occurs more than 5 times
NTA_list = data[data.groupby('NTA')['NTA'].transform('size').gt(5)]

NTA_list = NTA_list.reset_index(drop=True)
#NTA_list.to_csv('nta.txt', sep='\t', index=False)

# make separate dataframes for each NTA?
NTA_list = NTA_list.groupby('NTA')
NTA_list.groups.keys()

NTA_grouped = []

for key in NTA_list.groups.keys():
    NTA_grouped.append(NTA_list.get_group(key))


# NTA_grouped.to_csv('nta_groups.txt', sep='\t', index=False)
with open("nta_groups","w") as f:
    wr = csv.writer(f,delimiter="\n")
    wr.writerow(NTA_grouped)

df = pd.DataFrame()
NTA_names = []
average_total_savings = []
total_jobs = []

for i in range(len(NTA_grouped)):
    # print(NTA_grouped[i])
    df = NTA_grouped[i]
    NTA_names.append(df.iloc[0]['NTA'])
    average_total_savings.append(df["Total Savings"].mean())
    total_jobs.append(len(df))


final_answer = pd.DataFrame()
final_answer['NTA'] = NTA_names
final_answer['Average Total Savings'] = average_total_savings
final_answer['Total Jobs'] = total_jobs

print(final_answer)

4. Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA?
                                                 NTA  Average Total Savings  \
0   Battery Park City-Lower Manhattan                 469890.796667
1   Bushwick South                                    26140.455000
2   Carroll Gardens-Columbia Street-Red Hook          24337.390000
3   College Point                                     17159.372857
4   Crown Heights North                               4036.298889
5   DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill  59950.340000
6   East New York                                     48433.093333
7   East Williamsburg                                 13990.626364
8   Greenpoint                                        9753.649286
9   Hunters Point-Sunnyside-West Maspeth              23931.398933
10  Hunts Point                                       39246.016154
11  Manhattanville                                    2760.888889
12  Maspeth                                           6658.283333
13  Mott Haven-Port Morris                            17843.937857
14  Queensbridge-Ravenswood-Long Island City          61830.770625
15  Steinway                                          11227.155714
16  Sunset Park West                                  14316.976875
17  park-cemetery-etc-Brooklyn                        14327.419333

    Total Jobs
0   9
1   10
2   11
3   7
4   9
5   10
6   9
7   11
8   14
9   75
10  13
11  9
12  9
13  14
14  16
15  7
16  48
17  15

In [ ]:
### Export as CSV ###
final_answer.to_csv('final_answer.csv', sep='\t', index=False)